<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ path('homepage') }}">EntitiesG1-Admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="{{ path('homepage') }}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('about') }}">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">nos sections</a></li>

                {% if is_granted('IS_AUTHENTICATED') %}
                <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">Logout</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item"><a class="nav-link" href="{{ path("app_admin") }}">Admin</a></li>
                    {% endif %}
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


{#
<nav>
    <a href={{ path('homepage') }}>Homepage</a>
    <a href={{ path('about') }}>About</a>
    {% if is_granted('IS_AUTHENTICATED') %}
    <a href="{{ path('app_logout') }}">Logout</a>
    {% else %}
    <a href="{{ path('app_login') }}">Login</a>
    {% endif %}
</nav>
#}
