{% extends 'template.front.html.twig' %}
{# on surcharge le block parent #}
{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block header %}
    <h1>{{ title }}</h1>
    <p>{{ homepage_text }}</p>

{% endblock %}
{% block content %}
{% block nav %}
    {{ parent() }}
{% endblock %}

    {% for post in section.posts %}

        <h4>{{ post.postTitle }}</h4>
        <p>Ecrit par : {{ post.user.username }}</p>
        <p>{{ post.postText }}</p>

        {% for section in post.sections %}
            <a href="{{ path('section',{id:section.id}) }}">{{ section.sectionTitle }}</a>
            {% else %}
                <h3>Pas encore de section</h3>
            {% endfor %}
        {% else %}
        <h4>Pas encore d'article</h4>
    {% endfor %}
{% endblock %}

